.headerttsv{
    text-align: center;
}

.picture{ 
    width: 20%;
    height: 30%;
    
}

.info{
    width: 77%;
    height: 80%;
}

.body-SV{
    overflow: scroll;
    margin-left: 25%;
    width: 73%;
    height: 700px;
}

.profile-userpic{
   width: 100%;
   height: 100%;     
}

.col-xs-6{
    margin-left: 2%;
    font-family: 'Times New Roman';
    color: black;
    font-size: 20px;
    
}

.kc{
    margin-top: 3%;
}

.bold{
    font-weight: bold;
  }

  .chart-layout{
    margin: 36px auto 0 auto;
    padding: 32px 0;
    width: 100%;
    height: 400px;
    background-color:white;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    
  }
  
  .chart-layout__item{
    width: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    height: var(--percent);
    background-color:rgb(182, 63, 8);
    animation: growth ease-in 0.5s;
  }
  
  @keyframes growth {
    from {
        opacity: 0;
        height: calc(var(--percent) - 50%);
    }
    to {
        opacity: 1;
        height: var(--percent);
    }
  }
  .chart{
    width: 100%;
  }  