<!-- Header -->
<div class="container-build">
  <div class="box header-left">Quản lý sinh viên</div>
  <!-- Header bên phải -->
  <div class="box header-right">
    <a href="account" class="logout">Đăng xuất</a> 
  </div>
</div>    
<!--Main-->      
      <!-- danh sách chọn -->
    <div class="container-build"> 
      <div class="list">
        <div class="list-group">
          <div class="list-trangchu">
            <i class="fas fa-home"></i>
            <a href="#" class="item" >Trang chủ</a>
          </div>
          <div class="list-sv">
            <i class="fas fa-user-graduate"></i>
            <a href="sinhvien" class="item">Sinh viên</a>
          </div>
          <div class="list-khoa">
            <i class="fas fa-school"></i>
            <a href="khoa" class="item">Khoa</a>
          </div>
          <div class="list-monhoc">
            <i class="fas fa-book-open"></i>
            <a href="monhoc" class="item">Môn học</a>
          </div>
          <div class="list-diem">
            <i class="fas fa-folder"></i>
            <a href="diem" class="item">Điểm</a>
          </div>
          <div class="list-gv">
            <i class="fas fa-chalkboard-teacher"></i>
            <a href="giaovien" class="item">Giáo viên</a>
          </div>
          <div class="list-lop">
            <i class="fas fa-user-friends"></i>
            <a href="lophoc" class="item">Lớp học</a>
          </div>
        </div>
      </div>
      <div class="box main">
        <!--Nội dung main-->
        <div class="main-top">
          <div class="text-main">
            <h1>Dashboard</h1>
          </div>
            <div class="middle">
              <div class="box card-sv" >
                <div class="box icon-sinhvien">
                  <a href="sinhvien" class="item-sv"><i class="fas fa-graduation-cap"></i></a>
                </div>   
                    <div class="card-body">
                      <h5 class="card-title">Sinh viên</h5>
                      <p class="card-text">100</p>
                  </div>
              </div>
              <div class="box card-sv">
                <div class="box icon-khoa">
                  <a href="khoa" class="item-khoa"><div class="fas fa-university"></div></a>
                </div>
                  <div class="card-body">
                    <h5 class="card-title">Khoa</h5>
                    <p class="card-text">5</p>
                  </div>
              </div>
              <div class="box card-sv">
                <div class="box icon-mh">
                  <a href="monhoc" class="item-mh"><i class="fas fa-book"></i></a>
                </div>  
                  <div class="card-body">
                    <h5 class="card-title">Môn học</h5>
                    <p class="card-text">15</p>
                  </div>
              </div>
              <div class="box card-sv">
                <div class="box icon-diem">
                  <a href="diem" class="item-diem"><i class="fas fa-folder-open"></i></a>
                </div>  
                  <div class="card-body">
                    <h5 class="card-title">Điểm</h5>
                    <p class="card-text">300</p>
                  </div>
              </div>
              <div class="box card-sv" style="margin-top: 4%;">
                <div class="box icon-lh">
                  <a href="lophoc" class="item-mh"><i class="fas fa-chalkboard"></i></a> 
                </div>  
                  <div class="card-body">
                    <h5 class="card-title">Lớp học</h5>
                    <p class="card-text">16</p>
                  </div> 
                </div>  
                  <div class="box card-sv" style="margin-top: 4%;">
                    <div class="box icon-gv">
                      <a href="giaovien" class="item-mh"><i class="fas fa-chalkboard"></i></a> 
                    </div>  
                      <div class="card-body">
                        <h5 class="card-title">Giáo viên</h5>
                        <p class="card-text">6</p>
                      </div>
                  </div> 
                </div>  
              </div>  
                                
<!--Chart-->
      <div class="kcMain"></div>        
      <div class="box totnghiep">
               <h3 style="color: black; ">Sơ đồ tốt nghiệp của sinh viên(2016-2020)</h3>
              <div class="box chart">
                <div class="chart-layout">
                  <div class="chart-layout__item" style="--percent: 50%">50%</div>
                  <div class="chart-layout__item" style="--percent: 66%">66%</div>
                  <div class="chart-layout__item" style="--percent: 73%">73%</div>
                  <div class="chart-layout__item" style="--percent: 90%">90%</div>
                  <div class="chart-layout__item" style="--percent: 82%">82%</div>
                </div> 
              </div> 
              <div class="namemh">
                <span style="margin-left:20%; margin-right:53px; font-weight:700;">2016</span>
                <span style="margin-right:43px; font-weight:700;">2017</span> 
                <span style="margin-right:43px;font-weight:700; ">2018</span>
                <span style="margin-right:43px;font-weight:700; ">2019</span> 
                <span style="margin-right:43px;font-weight:700; ">2020</span>
              </div> 
      </div>               
    </div>         
    </div>  